# Python
__pycache__/
*.py[cod]
*.so

# Environnements virtuels
.env
venv/
.venv/
env/
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Fichiers système
.DS_Store
Thumbs.db

# Données et modèles
*.pkl

# But track the model file explicitly
!tuned_rf_model.pkl

*.joblib
*.h5
*.model
*.png

# Logs
*.log